{% extends "base.html" %}
<style>
.col-md-4{
    height: 378px;
}
</style>

{% block mainbody %}
{% load static %}

	<div class="whole-wrap">
		<div class="container box_1170" style="background: rgba(245, 245, 245, 0.5);" >
			<div class="section-top-border">
                <div class="col-xl-12">
                    <div class="serction_title_large mb-95">
                        <h3>
                            {{ length }} movie(s) with "{{ query_string }}":
                        </h3>
                    </div>
                </div>
                <div class="row">
                    {% for item in items %}
                    <div class="col-md-4">
                        <a href="/movie/movie_detail/{{ item.movieid }}" target="_self">                        
						<div class="single-defination" align="center">   
                            <row style="height:286px;"><img border="0" src="{{ item.poster }}" alt="Cannot load photo, sorry!" width="180" height="250"
                                style="padding: 10px;"></row>
                            <row style="height:26;"><p class="stars">{{ item.rate }} / 10</p></row>
                            <row style="height:56px;">    <h4>{{ item.title }} ({{ item.year }})</h4></row>
                            <hr>
                        </div>
                        
            

                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div align="center">              
                    {% if pages %}
                        <p> {{ current_page }} of {{ page_number }} pages</p>
                        {% if current_page != 1 %}
                            <a href="/movie/search/movie/{{ query_string }}/{{ 1 }}" target="_self"><i class="fa fa-angle-double-left" aria-hidden="true" style="padding-right:5px;"></i></a>
                            <a href="/movie/search/movie/{{ query_string }}/{{ current_page|add:-1 }}" target="_self"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        {% endif %}
            
                        {% for page in pages %}
                            {% if page == current_page %}
                                <b>{{ page }}</b>
                            {% else %}
                                <a href="/movie/search/movie/{{ query_string }}/{{ page }}" target="_self">{{ page }}</a>
                            {% endif %}
                        {% endfor %}
            
                        {% if current_page != page_number %}
                            <a href="/movie/search/movie/{{ query_string }}/{{ current_page|add:1 }}" target="_self"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            <a href="/movie/search/movie/{{ query_string }}/{{ page_number }}" target="_self"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        {% endif %}    
                    {% endif %}    
                </div>
			</div>
        </div>
    </div>
{% endblock %}